* { margin:0px; }
.begin_end { color: white; background: #ff9893; font-size: 22px; font-variant: small-caps; text-indent: 250px; }
.begin_tb { margin-left: 250px; margin-top: 15px; margin-bottom: 15px; }
.begin_th { font-size: 30px; font-variant: small-caps; width: 50%; padding: 0px; text-decoration: underline; }
.contacts { font-size: 30px; font-variant: small-caps; padding: 0px; font-weight: bold; text-align: center; margin-top: 15px; margin-bottom: 15px; }
.contacts2 { font-size: 26px; padding: 0px; text-align: center; margin-top: 15px; margin-bottom: 15px; }
.link1 { color: black; }
.main_jpg { width: 100%; margin-bottom: 15px; }
.percent100 { width: 100%; } 
.middle { color: white; background: #ff9893; font-size: 30px; font-variant: small-caps; text-indent: 250px; }
.list { font-size: 26px; list-style-position: inside; text-indent: 250px; margin-top: 15px; margin-bottom: 15px; }
.link2 { font-size: 22px; font-variant: small-caps; color: white; }