* { margin: 0px; }
* { padding: 0px; }

/*******************************************************************/

/* верхняя и нижняя полоса, полоса мои проекты */
.top_and_bottom { background-color: #FF9794; height: 30px; font-size: 1.5em; font-weight: 600; text-indent: 10%; color: white; text-transform: capitalize; }
.top_and_bottom a { color: white; }
h1.top_and_bottom { position: fixed; top: 0; left: 0; right: 0; } 
footer.top_and_bottom { position: fixed; bottom: 0; left: 0; right: 0; }

/* header */
table { margin-top: 20px; margin-left: 10%; margin-bottom: 20px; }
table tr th { width: 200px; }
table tr th a { color: black; font-size: 2em; font-weight: 600; }


/* background */
#first_page { background-image: url(./pictures/main.jpg); background-size: contain; background-repeat: no-repeat; }
#empty_img { width: 100%; opacity: 0.0; }

/* my_section */
#my_project { height: 30px; }
.my_section > p { font-style: italic; }
.my_section > p:first-child { font-size: 1.5em; font-style: normal; }
.my_section > p:not(:first-child) { margin-left: calc(12.5% + 70px); }
#qwerty { margin-bottom: 0.5%; }
.my_section > p:last-child { color: pink; }
.my_section { font-size: 1.2em; }
li, .my_section > p:first-child { margin: 0.5% 0 0.5% 12.5%; }
li a { color: black; font-size: 1.5em; font-weight: 400; }
li > p { margin: 0.5% 0 0.5% 35px; font-style: italic; }
li div p { margin-left: 70px; font-style: italic; }
i { color: #FF9794; }
.fat { font-weight: 600; }
.tube { font-weight: 400; font-size: 1em; color: red; }

/*******************************************************************/

/* служебное определение высоты родителя*/
.lenght_100 { height: 100%; }

/* my_section */
#minus_height_footer { height: calc(100% - 143px); } /* my_section обрезка высоты, чтобы было видно footer*/
#empty_div_for_contacts { height: 200px; }
.contacts { font-size: 1.5em; font-weight: 400; text-align: center; margin-bottom: 20px; }
div p a {color: black; }

/*******************************************************************/

#table_for_os { width: 100%; margin: 0px; }
.table_for_ftp { font-size: 2.5em; vertical-align: top; text-align: center; padding: 25px; }
th img { width: 100%; }