$left-pad : 10vw;
$left-margin-for-menu-elements : 1vw;
$y-margin-for-p : 10px;

$color-style : green;
$color-style-2 : rgba(26, 127, 27, 0.1);
$color-style-3 : rgba(26, 127, 27, 0.30);
$color-text-1: white;
$color-text-2: black;
$color-text-3: red;

$font-size-1 : 20px;
$font-size-2 : 34px;
$letter-spacing : 2px;

$height-fix-line : 40px;

$media2199 : 2199px;
$media2200 : 2200px;