.wrapper-for-ftp {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    & > * {
        @include media2199 {
            flex: 1 1 100%;           
        }
        @include media2200 {
            flex: 1 1 49%;           
        }
        font-size: $font-size-2;
        margin-top: $height-fix-line * 2;
        text-align: center;
        img {
            width: 100%;
            display: block;
            margin-top: $y-margin-for-p;
        }
    }
}